.transaction-detail-link {
    text-decoration: none;
    color: inherit;
}

.transaction-amount-income {
    color: #0da50a;
}

.transaction-amount-expense {
    color: #b22222;
}

.transaction-amount-total {
    color: #d28cfb;
}
