@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="promo-message">
        <h2 class="m-3">掌控財務，創造美好未來</h2>
        <h3 class="m-3">小熊記帳是一個免費記帳網站</h3>
        <p>記帳不僅僅是數字的記錄，更是通往財務自由的鑰匙。</p>
        <p>明確收支，杜絕不必要的開銷
        <br />制定預算，實現短期和長期財務目標
        <br />分析消費模式，做出明智的財務決策
        <br />增強財務意識，培養良好的理財習慣
        <br />為未來投資和儲蓄做好準備
        </p>
        <p>立即開始您的記帳之旅，邁向更美好的財務未來！</p>
    </div>
    <a asp-controller="Transactions" asp-action="Index" class="btn btn-dark">開始記帳</a>
</div>
